Adafruit-Blinka
adafruit-circuitpython-busdevice
adafruit-circuitpython-register
adafruit-circuitpython-neopixel
adafruit-circuitpython-sht31d
adafruit-circuitpython-lsm6ds
adafruit-circuitpython-lis3mdl
adafruit-circuitpython-display-text
adafruit-circuitpython-bmp280
adafruit-circuitpython-apds9960
